{{ partial "header" current="index" }}

<div class="container" id="fullpage-whole">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{ partial "hero" }}
            {{ partial "services" }}
            {{ partial "sustainability" }}
            {{ partial "inspiration" }}
            {{ partial "clients" }}
            {{ partial "contact" }}
        </div>
    </div>
</div>
