{{ partial "header" current="index" }}

<div class="container" id="fullpage-whole">
    {{ partial "hero" }}
    {{ partial "services" }}
    {{ partial "sustainability" }}
    {{ partial "inspiration" }}
    {{ partial "clients" }}
    {{ partial "contact" }}
</div>
