<div class="row">
    <div class="col-md-12">
        {{ partial "hero" }}
        {{ partial "services" }}
        {{ partial "sustainability" }}
        {{ partial "inspiration" }}
        {{ partial "contact" }}
    </div>
</div>
