{{ partial "header" current="build" }}

<div class="container" id="fullpage-whole">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{partial "organise-hero"}}
            {{partial "spotlight"}}
            {{partial "review"}}
            {{partial "shape"}}
            {{partial "transform"}}
        </div>
    </div>
</div>
